Source: dwarf-fortress
Section: non-free/games
Priority: extra
Maintainer: Beren Minor <beren.minor+debian@gmail.com>
Build-Depends: debhelper (>= 9), python, docbook-xsl, docbook-xml, xsltproc,
               cmake,
               libsdl1.2-dev, libsdl-image1.2-dev, libsdl-ttf2.0-dev,
               libopenal-dev, libsndfile1-dev, libgtk2.0-dev, 
               libncursesw5-dev, libncurses-dev, libz-dev,
               libglew-dev, libgl1-mesa-dev, libglu-dev
Standards-Version: 3.9.3
Homepage: http://www.bay12games.com/dwarves/
Vcs-Git: git://github.com/berenm/dwarf-fortress.git
Vcs-Browser: https://github.com/berenm/dwarf-fortress/

Package: dwarf-fortress-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Dwarf Fortress data files
 Dwarf Fortress is a single-player fantasy game. You can control a dwarven
 outpost or an adventurer in a randomly generated, persistent world.
 .
 This package contains data files used by Dwarf Fortress.
 .
 Copyright: 2002-2012 Tarn Adams toadyone@bay12games.com

Package: dwarf-fortress-bin
Architecture: i386
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, dwarf-fortress-data (=${source:Version})
Description: Dwarf Fortress binaries
 Dwarf Fortress is a single-player fantasy game. You can control a dwarven
 outpost or an adventurer in a randomly generated, persistent world.
 .
 This package contains the binaries of Dwarf Fortress.
 .
 Copyright: 2002-2012 Tarn Adams toadyone@bay12games.com

Package: dwarf-fortress
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, dwarf-fortress-data (=${source:Version}), dwarf-fortress-bin, dwarf-fortress-mod-default
Description: Dwarf Fortress game - http://www.bay12games.com/dwarves
 Dwarf Fortress is a single-player fantasy game. You can control a dwarven
 outpost or an adventurer in a randomly generated, persistent world.
 .
 Although Dwarf Fortress is still in a work in progress, many features have
 already been implemented.
 .
  * The world is randomly generated with distinct civilizations spanning over
    1000 years of detailed history, dozens of towns, hundreds of caves and
    regions with various wildlife.
  * The world persists as long as you like, over many games, recording
    historical events and tracking changes.
  * Command your dwarves as they search for wealth in the mountain.
    - Craft treasures and furniture from many materials and improve these
      objects with precious metals, jewels and more.
    - Defend yourself against attacks from hostile civilizations, the wilderness
      and the depths.
    - Support the nobility as they make demands of your populace.
    - Keep your dwarves happy and read their thoughts as they work and relax.
    - Z coordinate allows you to dig out fortresses with multiple levels. Build
      towers or conquer the underworld.
    - Build floodgates to divert water for farming or to drown your
      adversaries... and don't forget the magma!
    - Surgery, sutures, splints, crutches and more: care for your wounded
      dwarves instead of leaving them to fend for themselves.
    - Much more...
  * Play an adventurer and explore, quest for glory or seek vengeance.
    - Meet adversaries from previous games.
    - Recruit people in towns to come with you on your journey.
    - Explore without cumbersome plot restrictions.
    - Seamlessly wander the world -- up to 197376 x 197376 squares total -- or
      travel more rapidly on the region map.
    - Travel by day and search for a place to shelter as night falls.
    - Accept quests from the town and civilization leaders.
    - Retire and meet your old characters. Bring them along on an adventure with
      a new character or reactivate them and play directly.
    - Z coordinate allows you to move between twisting underground caverns and
      scale structures, fighting adversaries above and below.
    - Earn a reputation as a hero with the various civilizations in the world.
  * The combat model uses skills, body parts, individual tissues, material
    properties, aimed attacks, wrestling, one-time opportunities, charging and
    dodging between squares, bleeding, pain, nausea, various poison effects and
    much more.
  * A dynamic weather model tracks wind, humidity and air masses to create
    fronts, clouds, rain storms and blizzards.
  * Over two hundred rock and mineral types are incorporated into the world,
    placed in their proper geological environments.
  * Add new creatures, weapons, plants, metals and other objects via modifiable
    text files.
  * Extended ASCII character set rendered in 16 colors (including black) as well
    as 8 background colors (including black).
 .
 Copyright: 2002-2012 Tarn Adams toadyone@bay12games.com

