[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Dwarf Fortress
GenericName=Game
Comment=Dwarf Fortress is a single-player fantasy game. You can control a dwarven outpost or an adventurer in a randomly generated, persistent world.
Type=Application
Exec=dwarf-fortress
Icon=dwarf-fortress
Categories=AdventureGame;Game;RolePlaying;Simulation;
