#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2

override_dh_auto_build:
	@xsltproc --nonet \
	          --param make.year.ranges 1 \
	          --param make.single.year.ranges 1 \
	          --param man.charmap.use.subset 0 \
	          -o debian/ \
	          http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl\
	          debian/dwarf-fortress.6.xml
	@xsltproc --nonet \
	          --param make.year.ranges 1 \
	          --param make.single.year.ranges 1 \
	          --param man.charmap.use.subset 0 \
	          -o debian/ \
	          http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl\
	          debian/dwarf-fortress-configure.6.xml
	@xsltproc --nonet \
	          --param make.year.ranges 1 \
	          --param make.single.year.ranges 1 \
	          --param man.charmap.use.subset 0 \
	          -o debian/ \
	          http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl\
	          debian/dwarf-fortress-mod.6.xml
	cp debian/dwarf-fortress.6 debian/dwarf-fortress-bin.6
	dh_auto_build

override_dh_shlibdeps:
	LD_LIBRARY_PATH=/usr/lib/dwarf-fortress/:$(LD_LIBRARY_PATH) dh_shlibdeps -l/usr/lib32:$(LD_LIBRARY_PATH)
